$light-theme: (
  primary: #53c5d5,
  secondary: #6ecc94,
  background: #edf2f5,
  overlay: #33333350,
  text-10: #333333,
  text-20: #444e5a,
  text-30: #656565,
  error: #f1414c,
  success: #188038,
  warning: #f2aa01,
);
